html, body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  --lightGrey: #b6b6b6;
  --dark: #232229;
  --backgroundColor: #302e38; 
  --orange: #e68849;
  
}
h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
.app-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  background-color: var(--backgroundColor);
}

.sidebar {
  padding-top: 20px;
  width: 25%;
  background-color: var(--dark);
  display: flex;
  align-items: left;
  flex-direction: column;
  flex: 0.1;
}

.sidebar__logo-title {
  width: 65%;
  margin: 0px 30px 50px 20px;
  font-size: x-large;
  color: 232229;
  background-color: var(--lightGrey);
  padding: 6px;
  border-radius: 6px;
  
}

.sidebar__item {
  padding-left: 30px;
  width: 80%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar__item p {
color: var(--lightGrey);
font-size: large;
}

.sidebar__item:hover {
  background-color: var(--backgroundColor);
}

.sidebar__item--active {
  background-color: var(--backgroundColor);
}

.sidebar__item svg {
  margin-right: 6%;
  vertical-align: bottom;
}

.overview {
  height: 100%;
  width: 80vw;
  padding: 30px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.overview__dropdown {
  margin-bottom: 15px;
}

.overview__dropdown input {
  width: 20vw;
  height: 4vh;
  background-color: transparent;
  border-style: solid;
  border-color: var(--dark);
}

.overview__dropdown input:focus {
  outline: none;
  border-style: solid;
  border-color: grey;
  color: grey;
}

.overview__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.overview__stats-card {
  background-color: var(--dark);
  width: 17vw;
  height: 15vh;
  border-radius: 5%;
  box-shadow: rgba(39, 39, 39, 0.562) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.overview__stats-card h3 {
  color:var(--orange);
  font-size: x-large;
  margin-bottom: 5px;
}

.overview__stats-card p:first-of-type {
  font-size: medium;
  color: var(--lightGrey)
}
.overview__stats-card p:nth-of-type(2) {
  font-size: x-small;
  color: var(--lightGrey)
}

.overview__charts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.overview__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  
}

.overview__right {
  width: 50%;

}
.overview__pieChart {
  width: fit-content;
  color: var(--orange);
  padding: 2% 12% 6% 6%;
  
}

.overview__pieChartLabel {
  margin: 6%;
  display: flex;
  flex-direction: column;
}

.overview__graph {
  margin-top: 7%;
  padding-top: 5%;
  width: 95%;
  height: 25vh;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.overview__map {
  height: 40vh;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  color: var(--lightGrey);
  padding: 10%;
}

.timeline__article {
  color: grey;
  margin: 20px;
  padding: 20px;
  width: 70vw;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.timeline__article a {
  font-size: small;
}
.timeline__article svg {
  vertical-align: bottom;
  font-size: 0.8em;
}

.timeline__article:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

@media (max-width: 980px) {
  .overview__charts {
    flex-direction: column;
  }
  .overview__left {
    width: 80vw;
  }
  .overview__right {
    width: 80vw;
  }
  .overview__stats-card h3 {
    font-size: x-large;
  }
  
  .overview__stats-card p:first-of-type {
    font-size: medium;
    color: var(--lightGrey)
  }
  .overview__stats-card p:nth-of-type(2) {
    font-size: x-small;
    color: var(--lightGrey)
  }


}

@media (max-width: 768px) {
  .overview__cards {
    flex-direction: column;
  }
  .overview__number-card {
    width: 80vw;
  }

}





